.banner{
  margin-top: 90px;
  text-align: center;
}

#me{
  height:150px;
  width:150px;
}

#icons{
  margin-top: 50px;
  height:50px;
  width:50px;
  margin-left: 50px;
}

.raz{
  margin-top: 60px;
}

.last{
  text-align: center;
  font-family: Helvetica;
}
